<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SellMaster</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap-material-design.min.css" type="text/css">
    <link rel="stylesheet" href="css/ripples.min.css" type="text/css">
    <link rel="stylesheet" href="css/animate.css" type="text/css">
    {{> page/style}}
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>

    {{{body}}}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="js/material.min.js"></script>
    <script src="js/bootstrap-notify.min.js"></script>
</body>

<script>
    $.material.init();·
</script>
{{> page/js}}
</html>
