<h1>Sell Master</h1>
<a href="/auth/shopify/initiate" class="btn btn-raised btn-primary">
    <span>Shopify Login</span>
</a>
<a href="/auth/ebay/initiate" class="btn btn-raised btn-primary">
    <span>eBay Login</span>
</a>
<script src="js/home.js"></script>
