.mfb-component__button--main, .mfb-component__button--child {
    /*background-color: black;*/
}

.mfb-component__button--child:active {
    /*background-color: black;*/
}

/**
   Coded by /u/j0be in scss.
   See scss source here -> http://codepen.io/j0be/pen/MKRVyN
*/

.spinner {
     animation: rotator 1.4s linear infinite;
     position: fixed;
     bottom: 26px;
     right: 21.3px;
}

@keyframes rotator { 0% { transform: rotate(0deg); } 100% { transform: rotate(270deg); } } .path { stroke-dasharray: 187; stroke-dashoffset: 0; transform-origin: center; animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite; } @keyframes colors { 0% { stroke: #4285F4; } 25% { stroke: #DE3E35; } 50% { stroke: #F7C223; } 75% { stroke: #1B9A59; } 100% { stroke: #4285F4; } } @keyframes dash { 0% { stroke-dashoffset: 187; } 50% { stroke-dashoffset: 46.75; transform: rotate(135deg); } 100% { stroke-dashoffset: 187; transform: rotate(450deg); } }

.status {
  display: block;
  float:right;
  vertical-align: middle;
  margin-top: 2%;
}

/*.navbar-collapse, .collapse {
    display: inline;
}*/
