<h1>{{test}}</h1>
<nav mfb-menu position="br" effect="slidein-spring" label="Hide"
     active-icon="ion-edit" resting-icon="ion-plus-round"
     toggling-method="click" menu-state="menu_state">
  <a mfb-button mfb-button-close id="testid" label="{{button.label}}" icon="{{button.icon}}" ng-click="button.click()" ng-repeat="button in buttons"></a>
</nav>

<svg ng-show="showSpinner" id="spinner" class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
   <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
</svg>

<div>
  <adf-dashboard editable="true" name="{{dashboard.name}}" structure="4-8" adf-model="dashboard.model" />
</div>
